@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color:black;
    color:white;
    
      
}

.titulo_destaque {
    color:#86A641;
}
img{
   height: 400px;
   width: 370px;
   border-style: solid;
   border-radius: 75px;
   padding: 5px;
   color: white
   
   
}

.apresentacao{
    margin: 8% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.apresentacao__conteudo{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 650px;
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
    width: 500px;

}

.links{
    display: flex;
    justify-content: space-between;

}

.apresentacao__links__link:hover{
    border: 5px solid white;
    background-color: #86A641;
    transition: 0.25s;  
    cursor: pointer;
    
}

.apresentacao__links__link{
    background-color: #86A641;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 10px 0;
    text-decoration: none;
    color: white; 
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
